@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Plantilla Web</title>
		<link rel="stylesheet" href="~/css/styles.css">
	</head>
	<body>
		<nav class="navbar">
			<div class="navbar-left">
				<a href="#" class="nav-button">About Us</a>
				<a href="#" class="nav-button">Contact</a>
			<a asp-controller="Login" asp-action="IniciarSesion" class="nav-button" asp-controller="Login" asp-action="IniciarSesion">Sign In</a>
			</div>
			<div class="navbar-right">Nombre de la Empresa</div>
		</nav>
		<header class="fondo">
		<div class="fondo-text">
				Lema de la Empresa
			</div>
		</header>
		<section class="about-us">
			<div class="about-title">ABOUT US</div>
			<div class="creator">
				<img src="~/img/MainPage/3.jpg" alt="Creator 1">
				<p>Nombre del Creador 1</p>
			</div>
			<div class="creator">
				<img src="~/img/MainPage/4.jpg" alt="Creator 2">
				<p>Nombre del Creador 2</p>
			</div>
		</section>
		<footer class="footer">
			Footer Text
		</footer>
	</body>
</html>


